<h1> Welcome to MakersBnB </h1>

<form action= '/signup' method="post">

  <input type=text name="username" placeholder="Enter username">
  <input type=text name="email" placeholder="Enter email">
  <input type=text name="password" placeholder="Enter password">
  <input type=text name="confirm_password" placeholder="Re-enter password">
  <input type="submit" value="Submit">

</form>
