<header>
  <title>MakersBnB / Log In</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</header>

<body>
<div class=fixed_header>
  <div class=header-grid>
    <div></div>
    <div class=header-text><b>MakersBnB<b></div>
  </div>
</div>

<div class=column>
  <h2>Log in to MakersBnB</h2>
<form action="/login" method="post">
  <div class=item><input type="text" name="email" /></div>
  <div class=item><input type="password" name="password" /></div>
  <div class=item><input type="submit" value="Sign in" /></div>
</form>
</div>