<header>
  <title>MakersBnB / Home</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</header>

<body>
<div class=fixed_header>
  <div class=header-grid>
    <div></div>
    <div class=header-text><b>MakersBnB<b></div>


      <div class=signin-text><b>
        <% if !User.logged? %>
          <a href='/login'>Sign In<b></a>
        <%else%>
          <a href="/session/destroy">Sign Out</a>
        <%end%>
      </div>

  </div>
</div>

<h2>Hello <%= @name %><h2>

<br>
<% if User.logged? %>
  <form action="/spaces/new" method="get">
    <input type="submit" value="Add listing">
  </form>
<%end%>

<div class=column>
  <h2>Listings</h2>
  <div class="listing">
  <% @listings.each do |listing| %>
    <%= listing.title %>
    <%= listing.description %>
    <% if !User.logged? %>
    <form action="/confirmation/<%= listing.id %>" method="post">
      <div class="price">
        <input type="submit" value="Book">
      </div>
    </form>
    <%end%>
  <% end %>
  </div>
</div>
</body>
