<center>

  space 1 <form action="/confirmation" method="get">
    <input type="submit" value="book space 1!">
  </form>
  
  <br>

  space 2 <form action="/confirmation" method="get">
    <input type="submit" value="book space 2!">
  </form>

  <br>

  space 3 <form action="/confirmation" method="get">
    <input type="submit" value="book space 3!">
  </form>

  <br>

  space 4 <form action="/confirmation" method="get">
    <input type="submit" value="book space 4!">
  </form>

</center>
